snapshot.jpg
single_frame_image.jpg
robotoutput.txt
nohup.out
npm-debug.log
gpio.conf
output.mp3
*.wav

#ignore jetbrains files
.idea/

#ignore (open?) files with ~ in name:
*~
*.pyc

#ignore emacs temporary files
\#*\#
.\#*

\.DS_store